#sortable1, #sortable2 {
  border: 1px solid #eee;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  float: left;
  margin-right: 10px;
}
#sortable1 li, #sortable2 li {
}

.enfermedades-search {
    margin: 50px;
}

#colores-color {
    width: 100%;
    height: 40px
}

.razas-list {
    margin-top: 10px
}

.color-panel {
    text-align: center;
    display: inline-block;
    margin: 3px 1px;
    text-align: center;
    font-family: Courier,monospace;
    padding: 6px;
    width: 90px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.color-panel:hover {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.color-panel a {
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
}
.color-panel a:hover {
    text-decoration: none;
    color: black;

}

.color {

    text-align: center;
    height: 80px;
    width: 80px;
    border-radius: 5px
}

.connectedSortable {
    display: flex;
    width: 48%;
    height: 400px;
    flex-wrap: wrap;
    height: 197px;
}

.color {
    text-align: center;
    height: 47px;
    width: 79 px;
    border-radius: 5px;
}
/* .image-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
 }

.image-container img {
    margin: 2px;
    height: 150px;
    width: auto;
} */

img.cabecera {
    /* width: 100%; */
    object-fit: cover;
    width: 100%;
    height: 400px;
}

@gray-darker:               #444444;
@gray-dark:                 #696969;
@gray:                      #999999;
@gray-light:                #cccccc;
@gray-lighter:              #ececec;
@gray-lightest:             lighten(@gray-lighter,4%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  color: @gray;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid @gray-light;
  //border-radius: 1rem;
  color: @gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  width: 20%;
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.acogidas-index .cards__item {
    width: 100%;
}

.acogidas-index .card__text {
    font-size: 1.875rem;
    line-height: 1.8;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}

.card__title {
  color: @gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

div.avanzado {
    display: none;
}

.animales-search , .personas-search{
    margin: 0% 25%;
}

body {
    min-height: 100%;
}

.personas-view .cards__item, .personas-view .card {
    width: 100%;
}

.card__title {
    font-size: 2.25rem;
}

.flex-div {
  height: 35rem;
  display: flex;
}
.center-h {
  justify-content: center;
}
.center-v {
  align-items: center;
}


.tratamientos-index .card__text {
    font-size: 1.875rem;
    line-height: 1.8;
}

span.badge {
    background-color: cadetblue;
}

.brand-logo {
    margin-top: -10px;
}

nav.navbar-inverse {
    background-color: #5b0672;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #af50e5 !important;
}

.btn-success {
    background-color: #06725b !important;
    border-color: #06725b;
}
.btn-primary {
    background-color: #5b0672 !important;
}

.container>ul>li>a {
    color: #5b0672 !important;
}
